html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: baseline;
  /* border: solid green; */
  margin: 0px;
  padding: 0px;
}

body {
  background: #F4F4F4;
  color: #666;
  font-size: .75em;
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1;
  /* border: solid blue; */
  margin: 0;
  overflow: hidden;
}


#container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 58px;
  /* height: 100%; */
  left: 0;
  /* border: solid black; */
  overflow: hidden;
}

#horizontalcontent {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  /* border: solid  green; */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  /* visibility: hidden; */
  /* display: inline-flex; */
}



#parallax {
  /* border: solid orangered; */
  white-space: normal;
  /* display: inline-flex; */
  padding-left: 0;
  /* height: 568px; */
  height: 100%;

}

@media only screen and (max-width: 450px) {
 #parallax {
  /* display: inline; */
   /* overflow: visible; */
 }
}

#foreground {
  position: relative;
  left: 95%;
  height: 100%;
  background-color: #F3F3F3;
  padding: 0;
  width: max-content;
  /* border: solid green; */
  display: inline-flex;
  margin: 0;
  /* transition: left 0.5s ease 0s; */
  z-index: 1;
}

@media only screen and (max-width: 450px) {
  #foreground {
    /* left: 0; */
    /* width: 100%; */
    /* display: inline; */
    /* z-index: 0; */
    /* overflow: visible; */
   /* visibility: hidden; */
 }
}

#profilewidget {
  position: relative;
  margin-left: -320px;
  height: 100%;
  width: 320px;
  background: rgba(33, 33, 33, 0.7);
  color: rgb(238, 238, 238);
  /* border: solid blue; */
  /* z-index: 1; */
}

@media only screen and (max-width: 450px) {
  #profilewidget {
   /* margin-left: 0; */
   /* z-index: 0; */
   /* visibility: hidden; */
   width: 250px;
   margin-left: -240px;
 }
}

#profiledetails {
  position: absolute;
  /* top: 50px; */
  margin: 0px;
  line-height: 26px;
  padding: 10px;
}
 
@media only screen and (max-width: 450px) {
 #profiledetails {
  line-height: 30px;
   
 }
}

#stream {
  position: relative;
  float: left;
  /* padding: 10px; */
  padding-left: 70px;
  white-space: normal;
  /* border: solid purple; */
  display: inline-flex;
  /* visibility: hidden; */
}

@media only screen and (max-width: 450px) {
  #stream {
   padding-left: 0;
 }
}

#horizontalcontent::-webkit-scrollbar {
  /* display: none; */
}

p {
  color: white;
  font-size: 15px;
}

#footer {
  z-index: 214;
position: fixed;
bottom: 0;
left: 0;
right: 0;
}

@media only screen and (max-width: 450px) {
 #footer { 
  /* z-index: 0; */
  /* position: relative; */
  /* width: 200px; */
  /* height: 300px; */
/* margin: 0; */
/* top: 600px; */
   
 }
}

#global-nav {
position: fixed;
height: 58px;
width: 100%;
bottom: 0;
left: 0;
right: 0;
display: inline-flex;
background-color: #373737;
/* border: solid green; */
margin-right: 30px;
z-index: 1;
}

@media only screen and (max-width: 450px) {
 #global-nav {
   overflow-y: hidden;
overflow-x: scroll;

 }
}

@media only screen and (max-width: 450px) {
  #global-nav::-webkit-scrollbar{
    display: none;
   
 }
}

.fa-brands {
  margin: 30px;
}


h3 {
  color:white;
  font-size: 20px;
  /* margin: 0; */
}

@media only screen and (max-width: 450px) {
 h3 {
  font-size: 15px;   
 }
}

#namenav {
  display: flex;
height: 58px;
color: #848484;
width: 345px;
background-color: #373737;
position: relative;
  float: left;
justify-content: center;
align-items: center;

}

#namenav > span {
  font-size: 25px;
  color: white;
  border: solid white;
  padding: 7px;
}

@media only screen and (max-width: 450px) {
 #namenav span {
   /* visibility: hidden; */
   left: 0px;
   font-size: 15px; 
   margin-right: 10px;
 }
}


figure img {
width: 400px;
/* margin: 10px; */
position:relative;
left: 25px;
cursor: pointer;
}

@media only screen and (max-width: 450px) {
 figure img {
  width: 200px;
   left: 0;
 }
}

figure {
  border: solid black;
  width: 450px;
  height: 530px;
  padding: 5px;
}

@media only screen and (max-width: 450px) {
  figure {
    width: 200px;
    height: 625px;
   
 }
}

figcaption {
  color: black;
  line-height: 18px;
  font-size: 15px;
}

@media only screen and (max-width: 1020px) {
  figcaption {
   line-height: 23px;
 }
}

.proje{
  cursor: pointer;
  position: relative;
  left: 185px;
    width: 70px;
    padding: .37rem 0;
    border-radius: 54px;
    border-width: 0px;
    /* margin-top: 5px; */
    background-color: darkolivegreen;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    font-weight: 500;
}


.proje:hover {
  background-color: darkmagenta;
}

.proje .goto {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

@media only screen and (max-width: 1020px) {
  .proje {
    left: 63px; 
    top: 20px;
 }
}

#unifiedsidebar {
  position: fixed;
left: 0;
top: 0;
bottom: 0;
width: 150px;
/* padding: 10px 10px; */
background-color: #030303;
/* background-color: white; */
z-index: 5;
/* box-sizing: border-box; */
/* -moz-box-sizing: border-box; */
/* -webkit-box-sizing: border-box; */
overflow: scroll;
padding-bottom: 80px;
}

@media only screen and (max-width: 450px) {
  #unifiedsidebar{
    top: 200px;
    bottom: 58px;
    width: 150px;
    overflow-x: hidden;
    padding-bottom: 30px;
    
   
 }
}

#unifiedsidebar::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
}

#sidebar #footer {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#sidebar {
  z-index: 2;
width: 140px;
position: fixed;
top: 15px;
left: 165px;
border-radius: 3px 3px 0 0;
background-color: #373737;
box-shadow: 0 0 7px 0 rgba(50,50,50,.45);
font-size: 12px;
font-weight: 400;
min-height: 100px;
padding: 3px 3px 5px 2px;
line-height: 18px;
color: #FFF;
word-wrap: break-word;
border-top: 0;
/* border: solid green; */
}

@media only screen and (max-width: 450px) {
  #sidebar {
    /* position: a; */
   z-index: 0;
   /* botom: 300px; */
   top: 0px;
   left: 0px;
   right: 0px;
   background-color: black;
   border-radius: 0;
   width: 145px;
 }
}


.mediasquare {
  padding: 5px 5px 0;
width: 130px;
height: 130px;
position: relative;
}

.mediasquare img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;

}

h1 {
  min-height: 40px;
padding: 3px 3px 2px;
font-size: 16px;
line-height: 18px;
color: white;
word-wrap: break-word;
font-weight: 400;
}

h2 {
  color: black;
  font-size: 20px;
}

#wrap {
  position: absolute;
top: 0;
height: 100%;
right: 0;
bottom: 0;
left: 150px;
}

@media only screen and (max-width: 450px) {
  #wrap {
    /* left: 0; */
    /* position:relative; */
   /* overflow: visible; */
 }
}

h4 {
  border: solid;
  width: 400px;
}

#background {
  z-index: -1;
position: absolute;
background-image: url(./full.jpg);
left: 0;
/* transform: translate3d(-299.5px, 0px, 0px); */
top: 0;
bottom: 0;
width: 95%;
/* height: 100%; */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
transition: opacity 0.5s ease 0s;
 margin-left: 0px;
transition: margin-left 0.5s ease 0s;
}

@media only screen and (max-width: 450px) {
 #background {
  /* visibility: hidden; */
   
 }
}

.links {
  color: white ;
  text-decoration: none;
  font-size: 15px;
  line-height: 26px;
}

.links:hover {
  color: blue;
}

#fullImageView {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  text-align: center;
  z-index: 2147483646;
}

#fullImage {
  padding: 24px;
  max-width: 90%;
  max-height: 90%;
  z-index: 2147483646;
}

#closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

li .albumArt {
  width: 120px;
  height: 120px;
  padding: 10%;
}

.albumArt:hover {
  transform:scale(1.1);
  transition-duration: 350ms;
cursor: pointer;
}

.fa-solid {
  position: relative;
  left: -60px;
  top: 270px;
  color: grey;
}


.fa-solid:hover {
  color: lightcoral;
}

@media only screen and (max-width: 450px) {
   .fa-solid {
    /* visibility: hidden; */
    left: -60px;
    position: absolute;
    top: 620px;
    color: white;
  }
}