html {
    height: 100%;
font-family: 'Roboto', sans-serif;
/* box-sizing: border-box; */
font-size: 16px;
vertical-align: baseline;
/* border: solid green; */
margin: 0px;
padding: 0px;
}

body {
    background: #F4F4F4;
    color: #666;
  font-size: .75em;
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1;
    /* border: solid blue; */
    margin: 0;
}

.beam-leandrofxm body {
    background-color: rgb(240, 240, 240);
}

#container {
    position: absolute;
  top: 0;
  right: 0;
  bottom: 58px;
  left: 0;
}

#unifiedsidebar {
    position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  padding: 21px 25px;
  background-color: #030303;
  z-index: 5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

header {
    width: 100%;
}

a {
    color: #008dde;
    cursor: pointer;
    text-decoration: none; 
}

#global-nav > nav > ul > li > a {
    display: block;
    padding: 13px 0;
  }

  #global-nav a {
    color: inherit;
  }

  #sidebar a, #footer a, .table {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

.unifiednav #sidebar {
    left: 165px;
}

#sidebar {
    z-index: 2;
  width: 140px;
  position: fixed;
  /* left: 15px; */
  top: 15px;
}

#sidebar ,  header {
    border-radius: 3px 3px 0 0;
}

#sidebar, nav {
    background-color: #373737;
  box-shadow: 0 0 7px 0 rgba(50,50,50,.45);
  padding-bottom: 5px;
  border-radius: 0 0 3px 3px;
  font-size: 12px;
  font-weight: 400;
}

.mediasquare {
    padding: 5px 5px 0;
  width: 130px;
  height: 130px;
  position: relative;
}

.mediasquare img {
    width: 130px;
    height: 130px;
}

#sidebar h1 {
    min-height: 40px;
  padding: 3px 3px 2px;
  font-size: 15px;
  line-height: 18px;
  color: #FFF;
  word-wrap: break-word;
  font-weight: 400;
}

#sidebar span {
    display: inline-block;
  padding: 10px 8px 6px;
  text-overflow: ellipsis;
  max-width: 112px;
  line-height: 22px;
}

#unifiedsidebar #sidebar nav {
    border-top: 0;
}

nav ul {
    list-style: none;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  color: #787878;
}

#wrap {
    position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 150px;
}

.horizontalcontent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
}

#parallax {
    /* border: solid orangered; */
    padding-left: 0;
  white-space: normal;
  margin-left: 0px;
  transition: margin-left 0.5s ease 0s;
  left: 95%;
  transition: left 0.5s ease 0s;
  z-index: 1;
}

.beam-leandrofxm #parallax #foreground {
    left: 95%;
    transition: left 0.5s ease 0s;
    z-index: 1;
}

.horizontalcontent > div {
    overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.beam-leandrofxm #parallax #background {
    margin-left: 0px;
  transition: margin-left 0.5s ease 0s;
}

.beam-leandrofxm #background {
  width: 95%;
  overflow: hidden;
  transition: opacity 0.5s ease 0s;

}

#background {
    z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#foreground {
    position: relative;
    left: 100%;
    height: 100%;
    background-color: #F3F3F3;
    width: 100%;
}

.beam-leandrofxm #foreground {
    background-color: rgb(240, 240, 240);
    left: 95%;
    /* left: 0px; */
  z-index: 1;
}


.beam-leandrofxm #foreground > #profilewidget {
    position: relative;
  margin-left: -320px;
  width: 320px;
  height: 100%;
  background: rgba(33, 33, 33, 0.7);
  color: rgb(238, 238, 238);
  overflow: hidden;
}

#foreground > div {
    background-color: rgba(255,255,255,.8);
}

#foreground > * {
    -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 100%;
  padding: 30px;
}


.beam-leandrofxm #profiledetails {
    position: absolute;
  top: 50px;
  margin: 0px;
  width: 260px;
  line-height: 16px;
}

p {
    padding: 10px 0px 0px;
    color: rgb(162, 162, 162);
}

.beam-leandrofxm #stream .profilestream{
    padding-left: 35px;
}

.beam-leandrofxm #stream {
    float: left;
  padding: 10px;
    padding-left: 10px;
  list-style: none;
  white-space: normal;
  border: solid green
}

.beam-leandrofxm .columns {
    margin: 0px;
    margin-left: 0px;
  width: auto;
  height: 100%;
  list-style: none;
  column-width: 100%;
  column-gap: 8px;
  border: solid blue;
}

.beam-leandrofxm #stream > .streamitem {
    padding-top: 5px;
  width: 280px;
  border: solid red;
  font-size: 80px;
}

.horizontalcontent .columns > li {
    display: inline-flex;
}

.beam-leandrofxm .columns > li {
    margin: 0px 5px 10px;
  break-inside: avoid;
}

#footer {
    z-index: 2147483645;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#global-nav {
    position: fixed;
  height: 58px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #272727;
  color: #FFF;
  padding: 0 10px 0 0px;
}

#global-nav nav {
    float: left;
  color: #848484;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 30px;
  position: relative;
  z-index: 1;
}

.unifiednav #global-nav > nav {
    margin-right: 41px;
}

.unifiednav #global-nav > nav > ul:first-child {
    box-shadow: none;
  height: 58px;
}

.unifiednav #global-nav > nav > ul {
    padding-right: 27px;
}

.unifiednav #global-nav > nav > ul:first-child {
    background-color: #313131;
  box-shadow: -6px 0 9px -4px rgba(0,0,0,.5),6px 0 9px -4px rgba(0,0,0,.5);
}

.unifiednav #global-nav > nav > ul {
    float: left;
  list-style: none;
}

.unifiedNav #global-nav > nav > ul > li:first-child {
    display: none;
}

#global-nav > nav > ul > li {
    position: relative;
    float: left;
  }

  #global-nav > nav > ul > li > a > span {
    position: relative;
    display: block;
    height: 20px;
    padding: 6px 14px;
    line-height: 22px;
  }

  
img {
 width: 250px;
}

article {
    border: solid red;
    width: 400px;
    height: 500px;
}

figure {
    border: solid yellow;
    width: 400px;
    height: 500px;
}

section {
    display: inline-flex;
}






 
